
.acordion{
    width: 80%;
    display: block;
    margin:auto;
}
button.acordion .row .col-12 {
    max-width: 98%;
}
button.acordion.componentes {
    background-color: #4735ED;
    color: #fff;
    cursor: pointer;
    width: 80%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px;
    transition: 1s;
    font-weight: 700;
    height: 70px;
    border-radius: 40px;
    margin-bottom: 30px;
}
button.acordion.componentes.active, button.acordion.componentes:hover {
    background-color: #EFCF7F;
}

button.acordion.componentes:after {
    content: '\002B';
    color: #FFFFFF;
    font-weight: bold;
    float: right;
    margin-left: 5px;
    margin-top: -30px;
    padding: 0px 14px;
}
div.panel.comp {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #FFFFFF;
    color: #4735ED;
    border-radius: 45px;
    width: 80%;
    margin: 0 auto 20px auto;
}


button.acordion.active, button.acordion:hover {
    background-color: #e9bf78;
    color: #4735ED;
}

button.acordion.active:after {
    content: "\2212"; 
    color: #4735ED;
}

@media (max-width: 768px){
    .acordion{
        width: 100%;
    }
    button.acordion.componentes {
        font-size: 14px;
        margin-bottom: 0px;
        width: 100%;
    }
    div.panel.comp{
        width: 100%;  
    }
    button.acordion.componentes:after {
        margin-top: -25px;
    }
}