@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');
body{
    margin:0;
    padding: 0;
    color: #4735ED;
    font-family: 'Ubuntu', sans-serif;
}
/* ----------------------- BARRA DE NAVEGACION (LOGO Y LINKS) ----------------------- */
header {
    background-color: #f8f9fa;
}
.logo-img {
    margin-top: -26px;
}
.nav {
    display: inherit;
    float: right;
}
.navbar{
    z-index: 2;
}
.navbar-brand{
    margin-top: 13px;
}
.nav-tabs .nav-link{
    border: 1px solid #e5e5eb;
    background-color: white !important;
} 
.nav-link:hover {
    background-color: rgba(255,255,255,.5);
    transition: all 0.3s ease-in-out;
}
.navbar-light .navbar-toggler {
    background-color: white;
    z-index: 10;
}

ul.nav a {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400 !important;
    color: white;
}

.logo {
    margin-top: 100px;
    width: 80% !important;
}

.justify-content-end {
    -ms-flex-pack: end!important;
    justify-content: flex-end!important;
}


/*--------------BANNER-----------------*/
.inicio{
    background-color: #F0E7E6;
}
.bg-izq {
    position: absolute;
    top: 71px;
    left: 0;
    width: 300px;
    z-index: 0;
}
.bg-der {
    position: absolute;
    top: 71px;
    right: 0;
    width: 300px;
    z-index: 0;
}
.logo-18{
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}
.main{
    background-color: #F5F5F5;
    border-radius: 50px;
    margin-top: 60px;
    padding: 10px;
}

.title-fiestas{
    position: relative;
    top: -61px;  
    z-index: 5;
}
.trompo-pie{
    background-image: url("trompo.png");
    background-position: left;
    background-repeat: no-repeat;
    background-size: 200px;
    height: 300px;
}
.guitarra-pie{
    background-image: url("guitarra.png");
    background-position: right top;
    background-repeat: no-repeat;
    background-size: contain;

}
/* ----------------------- FOOTER ----------------------- */
.footer {
    bottom: 0;
    width: 100%;
    line-height: 1.5rem;
    background-color: #001c41;
    color: #ffffff;
    position: relative;
}

.border-bottom {
    border-bottom: 1px solid #192e85 !important;
}
.separa-logo {
    display: inline-block;
}
.gob-txt{
    line-height: 1.2rem;
    text-align: right;
}
.redes-sociales{
    display:flex;
    justify-content:stretch;
    justify-content: center;
    border-left: 2px solid white;
}

.socialmedia{
    display: flex;
    text-align: left;
    flex-direction: row;
}

footer a, footer a:visited, footer a:active{
    color: #ffffff;
    font-weight: 400;
}
footer a:hover {
    color: white;
    text-decoration: none;
}
/* mantiene el logo de gob en el bottom de la pagina */
.vertical-align-bottom{
    position: absolute;
    bottom: 0;
}

/* ----------------------- REDES SOCIALES ----------------------- */
.fa-instagram, .fa-twitter, .fa-facebook-f, .fa-linkedin {
    padding: 5px 8px;
    font-size: 1.2rem;
    display:flex;
    justify-content: space-around;
    transition: all 0.3s ease-in-out;
    color: #FFFFFF;
}


.col-12, .col-md-9, .col-lg-9, .col-4, .col-md-4, .col-md-3, .col-lg-3, .col {
    float: left;
}


ul li {
    padding-bottom: 15px;
}

.separador {
    color: #0F69C4;
}


@media (max-width: 768px) {
    .separa-logo {
        display: grid;
        grid-template-rows: 45px 46px;
        row-gap: 20px;
    }
    .gob-txt{
        text-align: left;
    }
    .bg-izq {
        width: 100px;
    }
    .bg-der {
        width: 100px;
    }
    .logo-18{
        margin-top: 30px;
        width: 150px;
    }
    .title-fiestas{
        top: -20px;
    }
    .trompo-pie{
    background-size: 100px;
    height: 200px;
    }
    .guitarra-pie{
        height: 150px;
    }
    h1{
        font-size: 1.7rem;
    }
}
